<form [formGroup]="reggForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Old Password</mat-label>
    <input matInput placeholder="Old Password" formControlName="oldpassword">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>New Password</mat-label>
    <input matInput placeholder="New Password" formControlName="newpassword">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Repeat New Password</mat-label>
    <input matInput placeholder="Repeat Password" formControlName="repeatpassword">
  </mat-form-field>
  <button type="submit" (click)="onSubmit()" color="accent" mat-raised-button aria-label="Submit button">
    Change Password
  </button>
</form>

<p>

</p>
